.DS_Store
.vscode
.cache
npm-debug.log
lerna-debug.log
yarn-error.log
*.swp

# Package Manager
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
package-lock.json
